.banners {
  padding: 60px 0;
  background-position: center;
  .banner {
    color: #fff;
    background-repeat: no-repeat;
    display: block;
    min-width: 314px;
    margin-right: 6px;

    .efect {
      padding-top: 110px;
      padding-bottom: 30px;
      .title {
        text-align: center;
        text-transform: uppercase;
        font-family: OpenSansRegular;
      }
      .line {
        background-color: #d2d2d4;
        height: 1px;
        width: 140px;
        margin: 0 auto;
        margin-top: 6px;
        margin-bottom: 10px;
      }
      .date {
        text-align: center;
        font-family: OpenSansLight;
        margin-bottom: 45px;
      }
    }
    .more {
      font-size: 9px;
      width: 116px;
      margin-right: auto;
      margin-left: auto;
      margin-bottom: 0;
      a {
        padding: 8px 25px;
      }
    }
  }
  .banner:last-of-type {
    margin-right: 0;
  }
}
