.content {
  display: block;
}

.post {
  margin-bottom: 36px;
  display: block;
  background-color: #e4e6ea;
  &-title {
    text-align: center;
    text-transform: uppercase;
    font-family: OpenSansRegular;
    font-size: 25px;
    padding-top: 25px;
    padding-left: 50px;
    padding-right: 50px;
    line-height: 35px;
    color: #444444;
  }
    &-title2 {
    text-align: left;
    text-transform: uppercase;
    font-family: OpenSansRegular;
    font-size: 25px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    line-height: 35px;
    color: #444444;
  }
  &-line {
    width: 100px;
    height: 2px;
    background-color: #dadce1;
    margin: 23px auto;
  }
  &-image {
    display: block;
    width: auto;
    img {
      width: 100%;
    }
  }
  &-description {
    display: block;
    padding: 26px 30px;
    font-family: OpenSansRegular;
    font-size: 12px;
    text-align: justify;
    line-height: 22px;
    p {
      padding-bottom: 34px;
    }
    p:last-of-type {
      padding-bottom: 0;
    }
  }
  &-info {
    font-size: 10px;
    background-color: #505256;
    &-many {
      font-family: OpenSansRegular;
      padding: 20px 30px;
      display: block;
      max-width: 400px;
      &-date {
        font-size: 12px;
        color: #adadad;
        text-transform: uppercase;
        margin-bottom: 17px;
      }
      &-tags {
        ul {
          background-image: url("../images/label.png");
          background-repeat: no-repeat;
          padding-top: 3px;
          padding-left: 20px;
          a {
            color: #898989;
          }
        }
      }
      &-categories {
        li {
          display: inline-block;
          a {
            color: #898989;

          }
        }
        margin-top: 16px;
      }
    }
    &-more {
      a {
        display: block;
        font-size: 16px;
        color: #c3a61c;
        background-color: #fee03b;
        text-decoration: none;
        text-transform: uppercase;
        padding-top: 54px;
        padding-left: 16px;
        padding-right: 15px;
        padding-bottom: 45px;
      }
    }
  }
}
.post-title2 {
  margin-bottom: 36px;
  display: block;
  background-color: #e4e6ea;
    text-align: left;
    text-transform: uppercase;
    font-family: OpenSansRegular;
    font-size: 25px;
    padding-top: 0px;
    padding-left: 50px;
    padding-right: 50px;
    line-height: 35px;
    color: #444444;
  }
.navigation {
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
}

.navigation li a,
.navigation li a:hover,
.navigation li.active a,
.navigation li.disabled {
  color: #fff;
  text-decoration: none;
}

.navigation li {
  display: inline;
}

.navigation li a,
.navigation li a:hover,
.navigation li.active a,
.navigation li.disabled {
  background-color: #6FB7E9;
  border-radius: 3px;
  cursor: pointer;
  padding:10px;
}

.navigation li a:hover,
.navigation li.active a {
  background-color: #3C8DC5;
}

.single {
  display: block;
  .post-text {
    font-family: OpenSansRegular;
    img {
      width: auto;
      max-width: 100%;
      height: auto;
      margin-bottom: 15px;
      margin-right: 15px;
      float: left;
    }
    p {
      padding-bottom: 10px;
    }
    b {
      font-family: OpenSansBold;
    }
    ul {
      margin-bottom: 10px;
      li {
        margin-bottom: 5px;
      }
    }
  }
  .post-info {

    background: none;
    color: #000;
    margin-bottom: 10px;
    font-size: 16px;
    .post-info-many-date {
      font-size: 16px;
    }
    .post-info-many-tags {
      padding-left: 25px;
    }

    .post-info-many-categories {
      padding-left: 25px;
    }
  }

}

.popup {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-family: OpenSansRegular;
  background-color: rgba(0, 0, 0, 0.45);
  .popup-box {
    position: fixed;
    top: 15%;
    left: 35%;
    background-color: #d2d2d2;
    background-repeat: no-repeat;
    width: 363px;
    padding: 25px;
    padding-bottom: 10px;
    z-index: 101;
    -webkit-box-shadow: 0 0 29px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0 0 29px rgba(0, 0, 0, 0.75);
    box-shadow: 0 0 29px rgba(0, 0, 0, 0.75);
  }
}

.popup-close {
  display: block;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 26px;
  height: 26px;
  background-image: url("../images/cancel.svg");
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  line-height: 26px;
  font-size: 14px;
  text-align: center;
  color: #fff;

  -webkit-transition: background-color 300ms ease-in-out;
  -o-transition: background-color 300ms ease-in-out;
  transition: background-color 300ms ease-in-out;
}

.popup .title {
  margin-bottom: 15px;
}

.popup p {
  margin-bottom: 15px;
}

.popup input {
  padding: 10px;
  margin: 10px 10px;
  border-color: #cfcfcf;
}

.popup input[type='submit'] {
  width: 100%;
  text-align: center;
  border-color: #fee03b;
}

#nvgm {
  position: relative;
}

.grren {
  background-color: #00b47c !important;
}

.grren .left a, .grren .right a{
  color: white !important;
}

.grren .right a:hover, .grren .left a {
  color: #a75acd !important;
}

.nvgm {
  position: relative;
}

.nvgm a {
  color: black;
  text-decoration: none;
  transition: all 0.3s;
}

.nvgm a:hover {
  color: #a75acd;
  text-decoration: none;
}

.nvgm li:hover {
  border-bottom: 5px solid #a75acd;
}

.nvgm li {
  list-style: none;
  font-size: 12px;
  float: left;
  padding: 0 10px;
}

.nvgm li.active {
  font-weight: bold;
}

.nvgm li.active > a:hover {
  color: black !important;
}

.nvgm li.active > a {
  color: black !important;
}

span.glyphicon:hover {
  cursor: pointer;
}

#mrack {
  display: none;
  position: absolute;
  top: 70px;
  margin: 0;
  padding: 0;
  width: 300%;
  left: -100%;
  background-color: rgba(255, 255, 255, 0.95);
  text-align: center;
}

.necont {
  text-align: left;
  width: 990px;
  margin: 0 auto;
  padding-right: 20px;
  padding-top: 15px;
}

.necont h4 {
  color: black;
  font-size: 17px;
  font-weight: 600;
  margin-bottom: 3px;
}

.necont ul {

  padding: 0;
  margin: 30px 0;
}

.necont li {
  list-style: none;
}

.necont li a {
  color: black;
  font-weight: 300;
}

.necont li a:hover {
  color: #a75acd;
  text-decoration: none;
}

.necont li span {
  font-size: 8px;
  margin-left: 5px;
  top: 0px;
}

.metro > img {
  margin-right: 10px;
  width: 22px;
  padding: 2px;
}

.metro {
  color: grey;
}

.necont > .col-xs-3 {
  border-right: 1px solid rgba(0, 0, 0, .15);
  height: 423px;
  margin-bottom: 15px;
}