#menu-toggler {
  display: none;
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #a0a0a0;
  padding: 15px 10px;
  outline: none; }

#menu-toggler span {
  display: block;
  position: relative; }

#menu-toggler.active span {
  background-color: transparent;
  border-color: transparent; }

#menu-toggler span,
#menu-toggler span:before,
#menu-toggler span:after {
  height: 3px;
  width: 17px;
  background-color: #ffffff;
  -webkit-transition: all 400ms ease-in-out;
  -o-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out; }

#menu-toggler span:before,
#menu-toggler span:after {
  content: "";
  position: absolute;
  left: 0px;
  background-color: #ffffff; }

#menu-toggler span:before {
  top: -6px; }

#menu-toggler span:after {
  top: 6px; }

#menu-toggler.active span:before,
#menu-toggler.active span:after {
  top: 0px;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%; }

#menu-toggler.active span:before {
  -webkit-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  -o-transform: rotate(225deg);
  transform: rotate(225deg); }

#menu-toggler.active span:after {
  -webkit-transform: rotate(-225deg);
  -ms-transform: rotate(-225deg);
  -o-transform: rotate(-225deg);
  transform: rotate(-225deg); }

.info {
  width: 690px;
  display: block; }

/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

img {
    width: auto;
    height: auto;
    max-width: 100%;
    float:left;
    margin-bottom: 15px;
    margin-right: 15px;
}

textarea {
    color:black;
}

.wpcf7-response-output {
    color:white;
}

body {
    line-height: 1; 
    min-width:1000px;
}

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

/* remember to define focus styles! */
:focus {
  outline: 0; }

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* font-family: "OpenSansRegular"; */
@font-face {
  font-family: "OpenSansRegular";
  src: url("fonts/OpenSansRegular/OpenSansRegular.eot");
  src: url("fonts/OpenSansRegular/OpenSansRegular.eot?#iefix") format("embedded-opentype"), url("fonts/OpenSansRegular/OpenSansRegular.woff") format("woff"), url("fonts/OpenSansRegular/OpenSansRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
/* font-family: "OpenSansLight"; */
@font-face {
  font-family: "OpenSansLight";
  src: url("fonts/OpenSansLight/OpenSansLight.eot");
  src: url("fonts/OpenSansLight/OpenSansLight.eot?#iefix") format("embedded-opentype"), url("fonts/OpenSansLight/OpenSansLight.woff") format("woff"), url("fonts/OpenSansLight/OpenSansLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
/* font-family: "OpenSansItalic"; */
@font-face {
  font-family: "OpenSansItalic";
  src: url("fonts/OpenSansItalic/OpenSansItalic.eot");
  src: url("fonts/OpenSansItalic/OpenSansItalic.eot?#iefix") format("embedded-opentype"), url("fonts/OpenSansItalic/OpenSansItalic.woff") format("woff"), url("fonts/OpenSansItalic/OpenSansItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
/* font-family: "OpenSansBold"; */
@font-face {
  font-family: "OpenSansBold";
  src: url("fonts/OpenSansBold/OpenSansBold.eot");
  src: url("fonts/OpenSansBold/OpenSansBold.eot?#iefix") format("embedded-opentype"), url("fonts/OpenSansBold/OpenSansBold.woff") format("woff"), url("fonts/OpenSansBold/OpenSansBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
/* font-family: "OpenSansExtraBold"; */
@font-face {
  font-family: "OpenSansExtraBold";
  src: url("fonts/OpenSansExtraBold/OpenSansExtraBold.eot");
  src: url("fonts/OpenSansExtraBold/OpenSansExtraBold.eot?#iefix") format("embedded-opentype"), url("fonts/OpenSansExtraBold/OpenSansExtraBold.woff") format("woff"), url("fonts/OpenSansExtraBold/OpenSansExtraBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
/* font-family: "OpenSansExtraBoldItalic"; */
@font-face {
  font-family: "OpenSansExtraBoldItalic";
  src: url("fonts/OpenSansExtraBoldItalic/OpenSansExtraBoldItalic.eot");
  src: url("fonts/OpenSansExtraBoldItalic/OpenSansExtraBoldItalic.eot?#iefix") format("embedded-opentype"), url("fonts/OpenSansExtraBoldItalic/OpenSansExtraBoldItalic.woff") format("woff"), url("fonts/OpenSansExtraBoldItalic/OpenSansExtraBoldItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
/* font-family: "OpenSansBoldItalic"; */
@font-face {
  font-family: "OpenSansBoldItalic";
  src: url("fonts/OpenSansBoldItalic/OpenSansBoldItalic.eot");
  src: url("fonts/OpenSansBoldItalic/OpenSansBoldItalic.eot?#iefix") format("embedded-opentype"), url("fonts/OpenSansBoldItalic/OpenSansBoldItalic.woff") format("woff"), url("fonts/OpenSansBoldItalic/OpenSansBoldItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
/* font-family: "OpenSansRegularItalic"; */
@font-face {
  font-family: "OpenSansRegularItalic";
  src: url("fonts/OpenSansRegularItalic/OpenSansRegularItalic.eot");
  src: url("fonts/OpenSansRegularItalic/OpenSansRegularItalic.eot?#iefix") format("embedded-opentype"), url("fonts/OpenSansRegularItalic/OpenSansRegularItalic.woff") format("woff"), url("fonts/OpenSansRegularItalic/OpenSansRegularItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
/* font-family: "OpenSansSemiBold"; */
@font-face {
  font-family: "OpenSansSemiBold";
  src: url("fonts/OpenSansSemiBold/OpenSansSemiBold.eot");
  src: url("fonts/OpenSansSemiBold/OpenSansSemiBold.eot?#iefix") format("embedded-opentype"), url("fonts/OpenSansSemiBold/OpenSansSemiBold.woff") format("woff"), url("fonts/OpenSansSemiBold/OpenSansSemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
/* font-family: "OpenSansSemiBoldItalic"; */
@font-face {
  font-family: "OpenSansSemiBoldItalic";
  src: url("fonts/OpenSansSemiBoldItalic/OpenSansSemiBoldItalic.eot");
  src: url("fonts/OpenSansSemiBoldItalic/OpenSansSemiBoldItalic.eot?#iefix") format("embedded-opentype"), url("fonts/OpenSansSemiBoldItalic/OpenSansSemiBoldItalic.woff") format("woff"), url(".fonts/OpenSansSemiBoldItalic/OpenSansSemiBoldItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
.wrapper {
  display: block;
  margin: 0 auto;
  width: 960px; }

.wrapper-645 {
  display: block;
  width: 645px; }

.wrapper-750 {
  display: block;
  width: 750px; }

.wrapper-270 {
  display: block;
  width: 270px; }

.left {
  float: left;
  display: block; }

.right {
  float: right;
  display: block; }

.clear-fix {
  clear: both;
  display: block; }

.center {
  margin-right: auto;
  margin-left: auto; }

.inner {
  display: none; }

.pagination .navigation li {
  display: inline-block;
  margin-bottom: 25px; }

.header {
  display: block;
  height: auto;
  background: #ebebeb;
  padding-top: 25px;
  padding-bottom: 17px; }
  .header .logo img {
    display: inline-block;
    height: auto;
    width: auto; }
  .header .logo .text {
    line-height: 18px;
    margin-left: 30px;
    display: inline-block;
    font-family: OpenSansLight; 
    text-align: center;}
    .header .logo .text-top {
      color: rgb(0, 0, 0);
        font-family: "Open sans", sans-serif;
        font-size: 16px;
        line-height: 1.3;
        text-align: center; }
    .header .logo .text-bottom {
      letter-spacing: 2px;
          text-transform: uppercase;
          color: rgb(0, 0, 0);
          font-family: "Open sans", sans-serif;
          font-size: 16px;
          line-height: 1.3;
          text-align: center; }
  .header .contacts {
    color: #a057a0;
    font-family: OpenSansLight; }
    .header .contacts .callMe {
    text-transform: uppercase;
    padding: 10px 17px;
    border: solid #a057a0;
    border-radius: 20px;
    display: block;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    width: 175px;
    height: 32px;
    line-height: 8px;
    color: #a154a0;
    font-size: 13px;
    font-family: Open Sans, sans-serif;
    font-weight: normal; }
    .header .contacts .tell {
          display: block;
    margin-bottom: 6px;
    font-family: Open sans,sans-serif;
    font-size: 20px;
    line-height: 1.3; }

.header-menu {
  display: block;
  height: auto;
  font-family: OpenSansRegular;
  background-image: url("../images/menu-line.png");
  background-repeat: repeat-x;
  background-position: bottom; }
  .header-menu .wrapper {
    position: relative; }
  .header-menu .blog {
    padding: 30px 0; }
    .header-menu .blog ul li {
      display: inline-block; }
  .header-menu .menu-list {
    text-transform: uppercase;
    font-size: 12px;
float: left;}
    .header-menu .menu-list ul li {
      display: inline-block;
      margin: 0 11px; }
      .header-menu .menu-list ul li a {
        font-family: OpenSansRegular;
        padding: 30px 0;
        text-decoration: none;
        color: black;
        display: inline-block; }
      .header-menu .menu-list ul li a:hover {
        color: #a057a0;
        background-image: url("../images/menu-line-hover.png");
        background-repeat: repeat-x;
        background-position: bottom; }
    .header-menu .menu-list ul li:last-of-type {
      margin-right: 0; }
    .header-menu .menu-list ul li:first-of-type {
      margin-left: 0; }

.main-banner {
  background-image: url("../images/1-mok-2016-2017.jpg");
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  color: #fff; }
  .main-banner .wrapper {
    padding-top: 80px;
    padding-bottom: 30px; }
    .main-banner .wrapper .title {
      font-family: OpenSansBold;
      font-size: 30px;
      text-transform: uppercase;
      display: block;
      text-align: left; }
    .main-banner .wrapper .description {
      font-family: OpenSansRegular;
      font-size: 13px;
      text-align: left;
      padding-top: 35px;
      padding-bottom: 30px;
      display: block;
      line-height: 25px; }

.more {
  font-family: OpenSansBold;
  text-transform: uppercase;
  display: block;
  margin-bottom: 35px; }
  .more a {
    padding: 14px 25px;
    display: block;
    float: left;
    text-decoration: none;
    color: #fff;
    text-align: left;
    border: 3px solid #fee03b;
    width: auto; }

.tags {
  font-family: OpenSansRegular;
  font-size: 12px;
  display: block; }
  .tags ul {
    display: block; }
    .tags ul li {
      display: inline-block;
      margin-right: 15px; }
      .tags ul li a {
        padding: 5px 7px 3px 7px;
        color: #fff;
        text-decoration: none;
        border: 1px solid #fff;
        border-radius: 2px; }

.efect {
  background-color: rgba(25, 25, 23, 0.75);
  display: block; }

.banners {
  padding: 60px 0;
  background-position: center; }
  .banners .banner {
    color: #fff;
    background-repeat: no-repeat;
    display: block;
    min-width: 314px;
    margin-right: 6px; }
    .banners .banner .efect {
      padding-top: 110px;
      padding-bottom: 30px; }
      .banners .banner .efect .title {
        text-align: center;
        text-transform: uppercase;
        font-family: OpenSansRegular; }
      .banners .banner .efect .line {
        background-color: #d2d2d4;
        height: 1px;
        width: 140px;
        margin: 0 auto;
        margin-top: 6px;
        margin-bottom: 10px; }
      .banners .banner .efect .date {
        text-align: center;
        font-family: OpenSansLight;
        margin-bottom: 45px; }
    .banners .banner .more {
      font-size: 9px;
      width: 116px;
      margin-right: auto;
      margin-left: auto;
      margin-bottom: 0; }
      .banners .banner .more a {
        padding: 8px 25px; }
  .banners .banner:last-of-type {
    margin-right: 0; }

.content {
  display: block; }

.post {
  margin-bottom: 36px;
  display: block;
  background-color: #e4e6ea; }
  .post-title {
    text-align: center;
    text-transform: uppercase;
    font-family: OpenSansRegular;
    font-size: 25px;
    padding-top: 25px;
    padding-left: 50px;
    padding-right: 50px;
    line-height: 35px;
    color: #444444; }
   .post-title2 {
    text-align: left;
    text-transform: uppercase;
    font-family: OpenSansRegular;
    font-size: 25px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 15px;
    line-height: 35px;
    color: #444444; }
  .post-line {
    width: 100px;
    height: 2px;
    background-color: #dadce1;
    margin: 23px auto; }
  .post-image {
    display: block;
    width: auto; }
    .post-image img {
      width: 100%; }
  .post-description {
    display: block;
    padding: 26px 30px;
    line-height: 1.714285714;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 14px;
    text-align: justify;}
    .post-description p {
      padding-bottom: 34px; 
}
    .post-description p:last-of-type {
      padding-bottom: 0; }
  .post-info {
    font-size: 10px;
    background-color: #505256; }
    .post-info-many {
          font-family: "Open Sans", Helvetica, Arial, sans-serif;
    padding: 15px 20px;
    display: block;
    max-width: 480px; }
      .post-info-many-date {
        font-size: 12px;
        color: #adadad;
        text-transform: uppercase;
        margin-bottom: 5px; }
      .post-info-many-tags ul {
        background-image: url("../images/label.png");
        background-repeat: no-repeat;
        padding-top: 3px;
        padding-left: 20px; }
        .post-info-many-tags ul a {
          color: #898989; }
      .post-info-many-categories {
        margin-top: 10px; }
        .post-info-many-categories li {
          display: inline-block; }
          .post-info-many-categories li a {
                color: #898989;
    font-size: 11px;
    background: url(/wp-content/themes/twentytwelve/star.png) 0 2px no-repeat;
    padding: 0px 0 5px 17px;}
.post-info-many-categories li a:hover{
    color: #fee03b;
    background: url('/wp-content/themes/twentytwelve/star_h.png') 0 2px no-repeat;
}
.content .pagination{
    background: #e4e5e9;
    width: 100%;
    padding: 0 10px;
}
.content .navigation{
    margin-bottom: 0;
    margin-top: 17px;
}
.content .navigation .prev a{
    background: url(/wp-content/themes/twentytwelve/prev.png) 0 0 no-repeat;
    font-size: 0;
    width: 40px;
    height: 45px;
    display: block;
    padding: 0;
    margin: -17px 10px -33px -10px;
    float: left;
}
.content .navigation .next a{
    background: url(/wp-content/themes/twentytwelve/next.png) 0 0 no-repeat;
    font-size: 0;
    width: 40px;
    height: 45px;
    display: block;
    padding: 0;
    margin: -16px 0 -28px 0;
    float: right;
}
.content .pagination .navigation li.next{
    float: right;
    margin: 0 -10px 0 0;
}
.content .pagination .navigation li {
    display: inline-block;
    margin-bottom: 13px;
}
.home .content .pagination .navigation li:nth-child(1){
    margin-left: 30%;
}
.home .content .pagination .navigation li:nth-child(2){
    margin-left: 0;
}
.home.paged .content .pagination .navigation li:nth-child(2){
    margin-left: 0;
}
.home.paged .content .pagination .navigation li:nth-child(1){
    margin-left: 0;
    margin-right: 125px;
}
.content .navigation li a, .content .navigation li a:hover, .content .navigation li.active a, .content .navigation li.disabled {
    background-color: transparent;
    border-radius: 0;
    cursor: pointer;
    padding: 10px;
    color: #9b9b9b;
}
.content .navigation li a:hover, .content .navigation li.active a {
    background-color: transparent;
    color: #444444;
    border-bottom: 2px solid #ffd21d;
}
    .post-info-more a {
      display: block;
      font-size: 16px;
      color: #c3a61c;
      background-color: #fee03b;
      text-decoration: none;
      text-transform: uppercase;
      padding-top: 61px;
    padding-left: 16px;
    padding-right: 15px;
    padding-bottom: 61px; }
.post-info-more a:hover{
   background-color: #ffd800;
}
.single .main-banner, .single .banners{
    display: none;
}
.single .main-content .single{
        margin-bottom: 36px;
    display: block;
    background-color: #e4e6ea;
        padding: 25px 20px;
}
.content{
    margin-top: 50px;
}
.navigation {
  display: block;
  margin-top: 20px;
  margin-bottom: 20px; }

.navigation li a,
.navigation li a:hover,
.navigation li.active a,
.navigation li.disabled {
  color: #fff;
  text-decoration: none; }

.navigation li {
  display: inline; }

.navigation li a,
.navigation li a:hover,
.navigation li.active a,
.navigation li.disabled {
  background-color: #6FB7E9;
  border-radius: 3px;
  cursor: pointer;
  padding: 10px; }

.navigation li a:hover,
.navigation li.active a {
  background-color: #3C8DC5; }

.single {
  display: block; }
  .single .post-text {
        display: block;
    line-height: 1.714285714;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 14px;
    text-align: justify; }
    .single .post-text img {
      width: auto;
      max-width: 100%;
      height: auto;
      margin-bottom: 15px;
      margin-right: 15px;
      float: left; }
    .single .post-text p {
      padding-bottom: 10px; }
    .single .post-text b {
      font-family: OpenSansBold; }
    .single .post-text ul {
      margin-bottom: 10px; }
      .single .post-text ul li {
        margin-bottom: 5px; }
  .single .post-info {
    background: none;
    color: #000;
    margin-bottom: 10px;
    font-size: 16px; }
    .single .post-info .post-info-many-date {
      font-size: 16px; }
    .single .post-info .post-info-many-tags {
      padding-left: 25px; }
    .single .post-info .post-info-many-categories {
      padding-left: 25px; }

.popup {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
    z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-family: OpenSansRegular;
  background-color: rgba(0, 0, 0, 0.45); }
  .popup .popup-box {
    position: fixed;
    top: 15%;
    left: 35%;
    -webkit-box-shadow: 0 0 29px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0 0 29px rgba(0, 0, 0, 0.75);
    box-shadow: 0 0 29px rgba(0, 0, 0, 0.75);
          padding: 50px;
    width: 420px;
    background-color: #303335;
    background-image: url();
    background-position: 50% 0;
    background-repeat: no-repeat;
    border-color: #fff;
    border-width: 0px;
    border-style: solid;
    border-radius: 10px;
}

.popup-close {
  text-align: right;
    position: absolute;
    top: 10px;
    right: 10px;
    display: inline-block;
        width: 20px;
    height: 22px;
    background: url(http://media.lpgenerator.ru/images/329219/mok-close.png#size_20x22) 0 0 no-repeat;
    opacity: 0.8;
    cursor: pointer; }

.popup .title {
    margin-bottom: 15px;
    font-size: 34px;
    font-family: Open Sans, sans-serif;
    color: #fff;
    text-align: left;
    padding-bottom: 0px; }

.popup p {
      margin-bottom: 15px;
    font-size: 15px;
    font-family: Open Sans, sans-serif;
    color: #fff;
    text-align: left; }
.popup label{
    width: 100%;
    display: block;
}
.popup input {
      height: 40px;
        width: 100%;
    line-height: 40px;
    font-size: 14px;
    font-family: Open Sans, sans-serif;
    color: #67737b;
    border-color: #ccc;
    border-width: 0px;
    border-style: solid;
    border-radius: 0px;
    background-color: #fff; }

.popup input[type='submit'] {
      padding: 0 10px;
    height: 50px;
    line-height: 50px;
    width: 100%;
    font-size: 25px;
    font-family: Open Sans, sans-serif;
    color: #fff;
    background-color: #a154a0;
    border-color: #ccc;
    border-width: 0px;
    border-style: solid;
    border-radius: 6px; }

#nvgm {
  position: relative; }

.grren {
  background-color: #00b47c !important; }

.grren .left a, .grren .right a {
  color: white !important; }

.grren .right a:hover, .grren .left a {
  color: #a75acd !important; }

.nvgm {
  position: relative; }

.nvgm a {
  color: black;
  text-decoration: none;
  transition: all 0.3s; }

.nvgm a:hover {
  color: #a75acd;
  text-decoration: none; }

.nvgm li:hover {
  border-bottom: 5px solid #a75acd; }

.nvgm li {
  list-style: none;
  font-size: 12px;
  float: left;
  padding: 0 10px; }

.nvgm li.active {
  font-weight: bold; }

.nvgm li.active > a:hover {
  color: black !important; }

.nvgm li.active > a {
  color: black !important; }

span.glyphicon:hover {
  cursor: pointer; }

#mrack {
  display: none;
  position: absolute;
  top: 70px;
  margin: 0;
  padding: 0;
  width: 300%;
  left: -100%;
  background-color: rgba(255, 255, 255, 0.95);
  text-align: center; }

.necont {
  text-align: left;
  width: 990px;
  margin: 0 auto;
  padding-right: 20px;
  padding-top: 15px; }

.necont h4 {
  color: black;
  font-size: 17px;
  font-weight: 600;
  margin-bottom: 3px; }

.necont ul {
  padding: 0;
  margin: 30px 0; }

.necont li {
  list-style: none; }

.necont li a {
      color: black;
    font-weight: 300;
    font-family: 'Open Sans', arial;
    font-size: 14px;
    line-height: 1.42857143; }

.necont li a:hover {
  color: #a75acd;
  text-decoration: none; }

.necont li span {
  font-size: 8px;
  margin-left: 5px;
  top: 0px; }

.metro > img {
  margin-right: 10px;
  width: 22px;
  padding: 2px; 
vertical-align: middle;}

.metro {
  color: grey; }

.necont > .col-xs-3 {
  border-right: 1px solid rgba(0, 0, 0, 0.15);
  height: 423px;
  margin-bottom: 15px; }

.sidebar .banner {
  margin-bottom: 50px; }

.search.banner {
  background-color: #e4e6ea;
  padding: 45px 7px 28px 17px; }
  .search-title {
    padding-left: 7px;
    color: #696a6a;
    font-family: OpenSansBold;
    font-size: 20px;
    margin-bottom: 53px; }
  .search-area {
    border-bottom: 4px solid #00c177; }
    .search-area-input {
      font-family: OpenSansRegular;
    font-size: 14px;
    display: inline-block;
    border: none;
    padding: 19px 0 13px 15px;
    width: 187px; }
    .search-area-button {
      background-image: url("../images/search.png");
      font-size: 14px;
      padding: 20px 25px 16px 25px;
      font-family: OpenSansRegular;
      background-color: white;
      background-repeat: no-repeat;
      background-position: center;
      display: inline-block;
      border: none;
      cursor: pointer; }
.findme h1 { font-size: 180%; margin-bottom: 20px; padding: 0 10px }
.findme h2 { font-size: 120% }
.findme ol { padding: 0 20px; list-style: decimal }
.findme li { clear: left }
.findme input { color: #454545; border: solid 1px #CCC; width: 150px; padding: 5px; font-size: 16px }
.findme #searchsubmit:hover { color: white; background: black }
.findme #searchsubmit { padding: 5px }
.categories {
  background-image: url("../images/arrow.png");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 37px;
  background-color: #00c177;
  font-family: OpenSansBold;
  padding-top: 90px;
  padding-bottom: 50px; }
  .categories ul a:after {
      content: '';
    margin-bottom: 47px;
    text-align: center;
display: block;}
    .categories ul a {
      color: #ffffff;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    font-size: 17px !important;
    padding: 0 15px;}
    .categories ul a:hover {
      color: #fee03b; }
  .categories ul li:last-of-type {
    margin-bottom: 0; }

.tags-banner {
  color: #696a6a;
  background-color: #e4e6ea;
  text-transform: uppercase;
  font-family: OpenSansBold;
  padding-left: 6px;
  padding-right: 5px; }
  .tags-banner-title {
    padding: 30px 29px 12px 28px;
    font-size: 18px; }
  .tags-banner ul {
    display: block; }
    .tags-banner ul .sub-menu li a {
      font-size: 12px;
      padding-left: 13px;
    line-height: normal;}
    .tags-banner ul li a {
      display: block;
      color: #696a6a;
      padding: 18px 27px;
        font-size: 12px;
      text-decoration: none;
      border-bottom: 1px solid #d4d7dd;
line-height: normal;}
    .tags-banner ul li a:hover {
      color: #31b56a; }
    .tags-banner ul li ul li {
      padding-left: 21px; }
    .tags-banner ul li ul li:last-of-type a {
      border-bottom: 1px solid #d4d7dd; }
    .tags-banner ul li ul a {
      display: block;
      color: #696a6a;
      padding: 18px 27px;
      text-decoration: none;
      border-bottom: 1px solid #d4d7dd; }
    .tags-banner ul li li:last-of-type a {
      border-bottom: none; }

.metks-banner {
  color: #696a6a;
  background-color: #e4e6ea;
  text-transform: uppercase;
  padding-left: 6px;
  padding-right: 5px;
  padding-bottom: 24px; }
  .metks-banner-title {
    padding: 30px 29px 12px 28px;
    font-size: 18px;
    font-family: OpenSansBold; }
  .metks-banner a {
    font-family: OpenSansRegular;
    color: #696a6a;
    padding: 8px 6px;
    text-decoration: none;
    display: inline-block; }
  .metks-banner a:hover {
    color: #31b56a; }

.subscribe-banner {
  background-color: #e4e6ea; }
  .subscribe-banner .title {
    text-transform: uppercase;
    padding: 25px;
    text-align: center;
    font-family: OpenSansBold;
    line-height: 20px;
    font-size: 18px;
    color: #696a6a; }
  .subscribe-banner .input-email input {
    width: 210px;
    height: 12px;
    font-size: 12px;
    border: none;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 20px; }
  .subscribe-banner .subscribers {
    position: relative;
    line-height: 20px;
    padding: 20px;
    padding-right: 10px;
    color: #9b9b9c;
    font-size: 14px;
    text-align: right;
    font-family: OpenSansRegular; }
    .subscribe-banner .subscribers .label {
      position: absolute;
      background-image: url("../images/label-subscribe.png");
      background-repeat: no-repeat;
      top: 20px;
      left: -5px;
      line-height: 14px;
      padding: 3px 13px 9px 20px; }
      .subscribe-banner .subscribers .label .top {
        font-family: OpenSansBold;
        font-size: 10px;
        text-align: center; }
      .subscribe-banner .subscribers .label .bottom {
        text-align: center;
        font-size: 10px;
        font-family: OpenSansRegular; }
    .subscribe-banner .subscribers #count {
      color: #696a6a;
      font-family: OpenSansBold; }
  .subscribe-banner .bottom-banner {
    background-color: #505256;
    display: block;
    padding: 10px 43px; }
    .subscribe-banner .bottom-banner #banner-button-subscribe {
      text-transform: uppercase;
      padding: 10px 36px;
      font-size: 10px;
      border: #fee03b solid 3px;
      display: block;
      color: #ffffff;
      font-family: OpenSansBold;
      text-align: center;
      cursor: pointer; }

.archive-banner {
  background-color: #e4e6ea; }
  .archive-banner .title {
    text-transform: uppercase;
    font-family: OpenSansBold;
    font-size: 17px;
    background-color: #01c675;
    color: #464545;
    padding: 24px 35px; }
.archive-banner .title:after{
        content: '';
    background: url(/wp-content/themes/twentytwelve/images/archiv.png) 0 0 no-repeat;
    width: 38px;
    height: 62px;
    display: block;
    float: right;
    margin: -22px -8px 0 0;
}
  .archive-banner .list {
    padding: 35px; }
    .archive-banner .list ul li {
      font-family: OpenSansRegular;
      margin-bottom: 20px; }
      .archive-banner .list ul li a {
        text-decoration: none;
        color: #999999; }
      .archive-banner .list ul li a:hover {
        color: #01c675; }
      .archive-banner .list ul li .year {
        color: #01c675; }
    .archive-banner .list ul li:last-of-type {
      margin-bottom: 10px; }

.new-post-banner {
  background-color: #e4e6ea;
  padding: 30px 20px; }
  .new-post-banner .title {
    font-family: OpenSansRegular;
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 35px; }
  .new-post-banner a {
    color: #616465;
    text-decoration: none;
    font-family: OpenSansRegular;
    font-size: 12px; }
    .new-post-banner a div {
      margin-bottom: 4px;
    color: #808080;
    font-size: 10px; }
  .new-post-banner .image {
    width: 56px;
    float: left; }
  .new-post-banner .text {
    
    line-height: 20px;
  }
    .new-post-banner .text .title-post {
    color: #000;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 14px;
    text-align: justify; }

.quote-banner {
  padding: 46px 32px;
  background-color: #e4e6ea; }
  .quote-banner .quote-banner-top {
    color: #727375;
    padding: 28px 0 19px 0;
    text-align: center;
    border-top: 7px solid #0bc173;
    border-left: 7px solid #0bc173;
    border-right: 7px solid #0bc173; }
    .quote-banner .quote-banner-top .quote-banner-top-day {
      font-family: OpenSansExtraBold;
      font-size: 28px; }
    .quote-banner .quote-banner-top .quote-banner-top-month {
      font-family: OpenSansRegular;
      font-size: 12px;
      line-height: 18px; }
  .quote-banner .quote-banner-center {
    font-size: 12px;
    padding: 12px 8px 17px 8px; }
    .quote-banner .quote-banner-center .quote-banner-center-author {
      text-transform: uppercase;
      text-align: center;
      padding-bottom: 34px;
      font-family: OpenSansBold;
      color: black; }
    .quote-banner .quote-banner-center .quote-banner-center-text {
      font-family: OpenSansItalic;
      text-align: center;
      line-height: 24px; }
  .quote-banner .quote-banner-bottom {
    font-family: OpenSansBold;
    font-size: 66px;
    text-align: center;
    border-bottom: 7px solid #0bc173;
    border-left: 7px solid #0bc173;
    border-right: 7px solid #0bc173; }

.subscribe {
  display: block;
  background-color: #e4e6ea; }
  .subscribe .wrapper .subscribe-text {
    padding-top: 85px;
    padding-bottom: 75px;
    background-image: url("../images/mail.png");
    background-repeat: no-repeat;
    background-position-y: 20px;
    background-position-x: 35px; }
    .subscribe .wrapper .subscribe-text .subscribe-text-top {
      text-transform: uppercase;
      font-size: 40px;
      color: #696a6a;
      font-family: OpenSansBold;
      line-height: 72px; }
    .subscribe .wrapper .subscribe-text .subscribe-text-bottom {
      padding-top: 35px;
      text-transform: uppercase;
      font-family: OpenSansLight;
      font-size: 14px; }
  .subscribe .wrapper .subscribe-input {
    display: block;
    margin-top: 115px;
    margin-bottom: 24px; }
    .subscribe .wrapper .subscribe-input input {
      border: none;
      width: 220px;
      display: block;
      padding: 18px 25px; }
  .subscribe .wrapper .subscribe-more {
    margin-left: 0;
    margin-right: 50px;
    padding-top: 18px;
    padding-bottom: 15px;
    margin-bottom: 80px;
    text-align: center;
    font-size: 14px;
    font-family: OpenSansBold;
    text-transform: uppercase;
    border: 4px solid #fee03b;
    letter-spacing: 5px; }

@media screen and (max-width: 961px) {
  .wrapper {
    width: 98%;
    margin-left: auto;
    margin-right: auto; }

  .banners {
    padding: 15px 0; }
    .banners .banner {
      float: none;
      margin-bottom: 20px;
      display: block;
      margin-right: auto;
      margin-left: auto;
      max-width: 314px; }

  .content .wrapper-645 {
    width: 100%; }
  .content .wrapper-270 {
    margin-right: auto;
    margin-left: auto; }
  .content .sidebar {
    width: 100%;
    float: left;
    display: block; }
    .content .sidebar .banner {
      margin-right: auto;
      margin-left: auto;
      margin-top: 5px; }

  .subscribe .wrapper .wrapper-645 {
    width: 75%; }
  .subscribe .wrapper .subscribe-text {
    background-size: contain;
    margin-right: 40px; }
    .subscribe .wrapper .subscribe-text .subscribe-text-top {
      line-height: 25px;
      font-size: 25px; }
    .subscribe .wrapper .subscribe-text .subscribe-text-bottom {
      font-size: 12px; } }
@media screen and (max-width: 945px) {
  .popup .popup-box {
    top: 15%;
    left: 30%; }

  .inner .inner-menu-list ul {
    text-transform: uppercase;
    font-size: 16px; }
    .inner .inner-menu-list ul li {
      margin: 16px auto;
      text-align: center; }
      .inner .inner-menu-list ul li a {
        background-repeat: repeat-x;
        padding: 25px 0;
        text-decoration: none;
        background-position: bottom;
        color: black; }
      .inner .inner-menu-list ul li a:hover {
        color: #a057a0;
        background-repeat: repeat-x;
        background-position: bottom; }

  #menu-toggler {
    display: block; }

  .header-menu {
    background-image: none;
    margin-bottom: 10px; }

  .menu-list {
    display: none; }

  .contacts {
    display: none; }

  .inner-contacts {
    text-align: center;
    color: #a057a0;
    font-family: OpenSansLight; }
    .inner-contacts .callMe {
      display: block;
      font-size: 12px;
      text-transform: uppercase;
      padding: 10px 17px;
      border: solid #a057a0;
      border-radius: 20px;
      cursor: pointer;
      width: 170px;
      margin: 10px auto; }
    .inner-contacts .tell {
      display: block;
      font-size: 18px;
      margin-bottom: 6px; } }
/*@media screen and (max-width: 598px) {
  .header .logo .img {
    display: block; }
  .header .logo .text {
    display: block;
    margin-left: 0; }

  .post {
    margin-bottom: 5px;
    display: block;
    background-color: #e4e6ea; }
    .post-title {
      text-align: center;
      font-size: 20px;
      padding-top: 15px;
      padding-left: 10px;
      padding-right: 10px;
      line-height: 18px;
      color: #444444; }
    .post-line {
      background-color: #dadce1;
      margin: 10px auto; }
    .post-description {
      display: block;
      padding: 13px 15px;
      font-family: OpenSansRegular;
      font-size: 10px;
      text-align: justify;
      line-height: 12px; }

  .popup .popup-box {
    width: 90%;
    top: 0;
    right: 0;
    left: 0;
    margin: auto;
    padding-top: 12px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px; }
    .popup .popup-box .form-contact {
      padding: inherit;
      width: 90%; }
      .popup .popup-box .form-contact input {
        padding-left: 35px;
        box-sizing: content-box;
        width: 90%;
        margin-right: auto;
        margin-left: auto; }
      .popup .popup-box .form-contact .submit {
        padding-left: 0px; } }
/*@media screen and (max-width: 400px) {
  .post-info-many {
    float: none; }

  .post-info-more {
    float: none; } }
*/    
.nav-previous{
    float: left;
    text-align: left;
    width: 50%;
}

.nav-next{
    float: right;
    text-align: right;
    width: 50%;
}

/*# sourceMappingURL=style.css.map */